body{
    background-image: url('../images/ignasi_pattern_s.png');
}
.title-admin{
    text-align: center;
    font-size:70px;
    font-family: 'Robot Slab', serif;
}

.create-voyage{
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#392620;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}
.line{
    background-color: red; 
}
.all-destinations-from-details{
    text-align: center;
    margin: 0 auto;
    margin: 40px;
}
.all-destinations-from-details-text{
    color:black;
    padding: 3px;
    border: 3px solid black;
}
.all-destinations-from-details-text:hover{
    background-color: black;
    color:white;
}